<h4>Redactar Nueva Noticia</h4>
<!--<form class="p-5 w-50" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate [formGroup]="NuevaNoticia">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Titulo</label>
    <input type="text" class="form-control" aria-describedby="emailHelp" name="title" #title ngModel formControlName="title" />
    <span *ngIf="this.NuevaNoticia.get('title')?.errors?.['required']">
      (El nombre no puede quedar vacío)
    </span>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Codigo</label>
    <input type="number" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" name="id" #id ngModel />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp" name="email" #email ngModel />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">fecha</label>
    <input type="date" class="form-control" id="exampleInputEmail4" aria-describedby="emailHelp" name="fecha" #fecha ngModel />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Imagen de portada</label>
    <input type="file" class="form-control" id="exampleInputEmail5" aria-describedby="emailHelp" name="avatar" #avatar ngModel />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<ul>
  <li>
    {{f.value | json}} {{email.value}} {{fecha.value}}
  </li>
</ul>
<app-noticias></app-noticias>
-->
